/* --------------------------

#### Table Of Contents ####

# General App (default stuff)
# Login Page 
# Home Page

-------------------------- */

/* ------------------------------
# General App 
------------------------------ */
.App {
}

.NotFound {
  padding-top: 100px;
}

.errorMessage{
  color: rgb(255 0 0 / 70%);
  font-style:italic;
  padding: 5px 0px;
}

.successMessage{
  color: rgb(53 143 53 / 70%);
  font-style:italic;
  position: absolute;
  font-weight: 600;
}

.UpdateUser > h3{
}

.UpdateUser, .NewAddressForm, .addressDisplayFormContainer{
  margin: 0 auto;
  max-width: 500px;
  margin-top: 40px;
}

.addressDisplayForm{
  background-color: wheat;
  padding: 5px;
  border-radius: 5px;margin-bottom:5px;
  position:relative;
}

.UpdateUser > form{
  background-color: #e0eaff;
  padding: 2px;
  border-radius: 2px;
}

.NewAddressForm > form{
  background-color: #e4ffdf;
  padding:2px;
}

.singleAddressButtons{
  margin-right:5px;
}

.addressDisplayForm .successMessage{
  font-size:14px;
  right: 10px;
  bottom: 10px;
}


/* ------------------------------
# Login Page
------------------------------ */
@media all and (min-width: 480px) {
  .Login{
    padding: 60px 0 0 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}


/* ------------------------------
# Home Page
------------------------------ */

.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

/* ------------------------------
# User Info Page
------------------------------ */
.UpdateUser{
  @media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .UpdateUser form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
}
